.contentArea{
    display: flex;
    width: 100%;
    background-color: azure;
    height: 80%;
}
.profile{
    display: flex;
    width: 30%;
    justify-content: center;
    outline: 2px solid #000;
    height: 50%;

}
.twits{
    display: flex;
    width: 70%;
    flex-direction: column;
    outline: 2px solid #000;
}
.twitsWriteArea{
    height: 10%;
}
.twitsList{
    height: 90%;
}
.formArea{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}