.headerArea{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: url(../image/headerBackground.jpg);
    height: 10%;
}
.signInForm{
    display: flex;
    flex-direction: column;
}